<fragment>
  <a class="item"
     href="#"
     v-on:click="newFile()">
     <i class="external alternate icon"></i>
     New
     <div class="description">ctrl+n</div>
  </a>
  <a class="item"
     href="#"
     v-on:click="emptyFile()">
    <i class="sticky note outline icon"></i>
    Empty
    <div class="description">ctrl+e</div>
  </a>
  <a class="item"
     v-on:click="saveFile()"
     v-if="enableSaveFile">
     href="#"
     <i class="save icon"></i>
     Save
     <div class="description">ctrl+s</div>
   </a>
   <a class="item"
     href="#"
        v-on:click="saveFileAs()"
        v-if="enableSaveFileAs">
     <i class="save outline icon"></i>
     Save as...
     <div class="description">ctrl+shift+s</div>
   </a>
   <a class="item"
     href="#"
        v-on:click="openFolder()"
        v-if="typeof(status.filePath) === 'string'">
     <i class="folder open outline icon"></i>
     Open folder...
     <div class="description">ctrl+o</div>
   </a>
   <a class="item"
     href="#"
        v-on:click="openEditor()"
        v-if="(status.platform === 'win32')">
     <i class="edit icon"></i>
     Open in editor...
     <div class="description">ctrl+e</div>
   </a>
</fragment>