<fragment>
  <div class="item"
          v-on:click="saveFile()"
          v-if="enableSaveFile">
       <i class="save icon"></i>
       Save
     </div>
     <div class="item"
          v-on:click="saveFileAs()"
          v-if="enableSaveFileAs">
       <i class="save outline icon"></i>
       Save as...
     </div>
     <div class="item"
          v-on:click="openFolder()"
          v-if="typeof(status.filePath) === 'string'">
       <i class="folder open outline icon"></i>
       Open folder...
     </div>
     <div class="item"
          v-on:click="openEditor()">
       <i class="edit icon"></i>
       Open in editor...
     </div>
</fragment>