<!DOCTYPE html>
<html>
  <head>
    <title>Electron Launch Pad</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
<script src="helpers/hyper-app/RequireHelper.js"></script>
<script>
  RequireHelper.requireJQuery()
</script>
    
<script src="vendors/jquery/jquery-3.4.1-electron.js"></script>

<link href="vendors/semantic-ui/semantic.min.css" rel="stylesheet" type="text/css">
<script src="vendors/semantic-ui/semantic.min.js"></script>

<script src="./vendors/redips-drag/redips-drag-min.js"></script>

<link href="./LaunchpadSlider.less" rel="stylesheet/less" type="text/css" />
<script>
  less = {
    logLevel: 0,
  }
</script>
<script src="vendors/less/less.min.js" ></script>


<script src="helpers/electron/ElectronFileHelper.js"></script>
<script src="helpers/autoit/ImageMagickHelper.js"></script>
<script src="helpers/electron/ElectronHelper.js"></script>

<script src="helpers/VueHelper.js"></script>
<script src="vendors/vue/vue.min.js"></script>

<script src="./helpers/ShortcutHelper.js"></script>
<script src="./helpers/FolderConfigHelper.js"></script>

<script src="./helpers/autoit/WindowsEnvVarHelper.js"></script>
<script src="./helpers/autoit/IconExtractHelper.js"></script>
<script src="./helpers/autoit/WindowsShortcutHelper.js"></script>

<!-- Entire bundle -->
<script src="./vendors/draggable/draggable.bundle.js"></script>
<script src="./vendors/draggable/sortable.js"></script>

<!--
<script src="vendors/hotkeys/hotkeys.min.js" ></script>
-->
<script src="./helpers/LinuxDesktopShortcutReader.js" ></script>

<script src="./vendors/pure-md5/md5.js" ></script>

  </head>
  <body>

<!-- tables inside this DIV could contain drag-able content  -->
<div id="app" 
     ref="main"
     v-bind:class="{'popup-visible': isPopupVisiable}">
  
  <div class="searchbar"
       v-on:mouseover="scrollPaddingDragUpEnter"
       v-on:click="scrollPage(false)">
    <div class="ui search fluid" 
         v-on:click.stop="">
      <div class="ui icon fluid input">
        <input type="text" class="prompt"
               placeholder="Search APP..."
               v-model="searchKeyword"
               ref='SearchInput'
               v-on:keydown="onSearchInputKeyDown(event)"
               v-on:focus="onSearchInputFocus"
               v-on:blur="onSearchInputBlur">
        <i class="search icon"
           v-if="isSearchMode === false"></i>
        <i class="close icon reset"
           v-if="isSearchMode === true"
           v-on:click="searchKeyword = ''"></i>
      </div>
      <div class="results"></div>
    </div>
  </div>
  
  <div class="pager-buttons-panel">
    <button class="ui circular icon button" 
            type="button"
            v-on:click.stop="scrollPage(false)"
            title="Scroll to previous page">
      <i class="arrow up icon"></i>
    </button>
    <button class="ui circular icon button" 
            type="button"
            v-on:click.stop="scrollPage(true)"
            title="Scroll to next page">
      <i class="arrow down icon"></i>
    </button>
  </div>
  <div class="pager"
       v-on:wheel.stop=""
       ref="pager"
       v-if="isSearchMode === false"
       v-bind:class="{'hidden': (mainItemsInited === false)}">
    <div v-for="i in maxPages"
         class="item"
         v-bind:class="{'current': ((i-1) === currentPage), 'disabled': waitDragScroll}"
         v-on:click="scrollPage((i-1))"
         v-bind:title="'Go to page ' + i">
    </div>
  </div>
  <div class="pager"
       v-on:wheel.stop=""
       ref="searchResultPager"
       v-if="isSearchMode === true"
       v-bind:class="{'hidden': (mainItemsInited === false)}">
    <div v-for="i in searchResultPageLength"
         class="item"
         v-bind:class="{'current': ((i-1) === currentSearchResultPage), 'disabled': waitDragScroll}"
         v-on:click="scrollPage((i-1))"
         v-bind:title="'Go to search result page ' + i">
    </div>
  </div>
  
  <div class="buttons-panel"
       v-on:click.stop="">
    
    <button class="ui button current-mode"
            v-on:click="toggleEditingMode"
            v-bind:class="{blue: isEditingMode}">
      {{ displayEditingMode }}
    </button>
    
    <div class="ui dropdown icon circular button item"
         ref="DropdownMenu">
      <i class="wrench icon"></i>
      <div class="menu">
        <div class="item"
             v-on:click.stop="addPage"
             title="Add page"
             v-bind:class="{disabled: (isSearchMode)}">
          <i class="plus icon"></i>
          <span class="text">Add Page</span>
        </div>
        <div class="item"
             v-on:click.stop="removePage"
             v-bind:class="{disabled: (isPageRemovable === false || isSearchMode)}"
             title="Remove page">
          <i class="minus icon"></i>
          <span class="text">Remove Page</span>
        </div>
        
        <div class="divider"></div>
        
        <div class="item open-folder-button"
             v-on:click.stop="openFolder"
             title="Open shortcuts folder">
          <i class="folder open outline icon"></i>
          <span class="text">Open shortcuts folder</span>
        </div>
        <div class="item"
             v-on:click.stop="changeFolder"
             title="Change shortcuts folder">
          <i class="cogs icon"></i>
          <span class="text">Open shortcuts folder</span>
        </div>
        
        <div class="divider"></div>
        
        <div class="item"
             v-on:click.stop="resetAllConfig"
             title="Reset the launchpad configuration of current folder">
          <i class="eraser icon"></i>
          <span class="text">Reset all config</span>
        </div>
        <div class="item"
             v-on:click.stop="resetOrder"
             title="Reset order of current folder">
          <i class="eraser icon"></i>
          <span class="text">Reset order</span>
        </div>
        <div class="item"
             v-on:click.stop="resetShortcutsCache"
             title="Reset the shortcuts' cache of current folder">
          <i class="eraser icon"></i>
          <span class="text">Reset shortcuts' cache</span>
        </div>
        <div class="item"
             v-on:click.stop="resetIconsCache"
             title="Reset the icons' cache of current folder">
          <i class="eraser icon"></i>
          <span class="text">Reset icons' cache</span>
        </div>
        
        <div class="divider"></div>
        
        <div class="item"
             v-on:click.stop="openURL('https://github.com/pulipulichen/Electron-Launch-Pad')"
             title="Open project repository">
          <i class="github square icon"></i>
          <span class="text">Project repository</span>
        </div>
        <div class="item"
             v-on:click.stop="openURL('https://github.com/pulipulichen/Electron-Launch-Pad/issues')"
             title="Report issues">
          <i class="bullhorn icon"></i>
          <span class="text">Report issues</span>
        </div>
        <div class="item"
             v-on:click.stop="openURL('http://blog.pulipuli.info/p/about_38.html')"
             title="About author">
          <i class="question circle icon"></i>
          <span class="text">About author</span>
        </div>
      </div>
    </div>
    
    <!--
    <button class="ui circular icon button" 
            type="button"
            v-on:click.stop="addPage"
            title="add page"
            v-if="isSearchMode === false">
      <i class="plus icon"></i>
    </button>
    <button class="ui circular icon button" 
            type="button"
            v-on:click.stop="removePage"
            v-bind:class="{disabled: (isPageRemovable === false)}"
            title="remove page"
            v-if="isSearchMode === false">
      <i class="minus icon"></i>
    </button>
    <button class="ui circular icon button" 
            type="button"
            v-on:click.stop="changeFolder"
            title="Change shortcuts folder">
      <i class="cogs icon"></i>
    </button>
    <button class="ui circular icon button open-folder-button" 
            type="button"
            v-on:click.stop="openFolder"
            title="Open shortcuts folder">
      <i class="folder open outline icon"></i>
    </button>
    -->
    <button class="ui circular icon button" 
            type="button"
            v-on:click.stop="exit"
            title="Exit">
      <i class="close icon"></i>
    </button>
  </div>
  
  <!-- --------------------------------------------------- -->
  
  <div class="app-list"
         id="AppList"
         v-bind:data-page="currentPage"
         v-bind:class="{
            'disabled': waitDragScroll, 
            'is-dragging': enableDragScroll, 
            'hidden': (mainItemsInited === false),
            'search-input-focused': isSearchInputFocused
         }"
         ref="AppList"
         tabindex="-1"
         v-if="isSearchMode === false">
      <div v-for="(item, i) in sortedMainItems"
           class="launchpad-item"
           v-bind:class="{
              'empty': (item === null), 
              'item': (item !== null), 
              'folder': (item !== null && Array.isArray(item.subItems) === true),
              'visible-in-current-page': isVisibleInCurrentPage(i)
            }"
           v-bind:tabindex="attrTabIndex(item)"
           v-on:focus="setLastFocus">
        <div class="item-wrapper"
             v-on:click="exec(item)"
             v-bind:data-shortcut-index="i"
             v-bind:title="displayDescription(item)">
          <!--
          <div class="hotkey-label"
               v-bind:class="{'hide': (mainItemHotkeyLabelInited === false || enableDragScroll)}">
            <span class="background"></span>
            <span class="hotkey">1</span>
          </div>
          -->
          <template v-if="item === null">
            <img class="icon"
                 draggable="false" />
            <div class="name">
              (NULL)
            </div>
          </template>
          <template v-else>
            <template v-if="Array.isArray(item.subItems) === false">
              <template v-if="typeof(item.icon) === 'string'">
                <img class="icon"
                     v-bind:src="item.icon" 
                     draggable="false"/>
              </template>
              <template v-else>
                <img class="icon"
                     draggable="false"/>
              </template>
            </template>
              
            <div class="icon folder"
                 v-if="Array.isArray(item.subItems) === true">
              <template v-for="subIconPath in getSubItemIcons(item)">
                <img v-bind:src="subIconPath"
                     draggable="false" />
              </template>
            </div>
            <div class="name">
              {{ item.name }}
            </div>
          </template>
        </div>
      </div>
      
      <div class="scroll-padding down"
          v-bind:class="{'enable': enableDragScroll}"
          v-on:mouseover="scrollPaddingDragDownEnter"
          v-on:click="scrollPage(true)">
      </div>
  </div>
  
  <!-- --------------------------------------------------- -->
  
  <div class="app-list search-result-list"
         id="SearchResultList"
         v-bind:data-page="currentSearchResultPage"
         v-bind:class="{
          'disabled': waitDragScroll, 
          'hidden': (mainItemsInited === false),
          'search-input-focused': isSearchInputFocused,
         }"
         ref="SearchResultList"
         tabindex="-1"
         v-if="isSearchMode === true">
      <div v-for="(item, i) in searchResultList"
           class="launchpad-item"
           v-bind:class="{
            'empty': (item === null),
            'item': (item !== null), 
            'visible-in-current-page': isVisibleInCurrentPage(i)
           }"
           v-bind:tabindex="attrTabIndex(item)"
           v-on:focus="setLastFocus">
        <div class="item-wrapper"
             v-on:click="exec(item)"
             v-bind:data-shortcut-index="i"
             v-bind:title="displayDescription(item)">
          <!--
          <div class="hotkey-label"
               v-bind:class="{'hide': (mainItemHotkeyLabelInited === false || enableDragScroll)}">
            <span class="background"></span>
            <span class="hotkey">1</span>
          </div>
          -->
          <template v-if="item === null">
            <img class="icon"
                 draggable="false"/>
            <div class="name">
              (NULL)
            </div>
          </template>
          <template v-else>
            <img class="icon"
                 v-bind:src="item.icon" 
                 draggable="false"
                 v-if="Array.isArray(item.icon) === false"/>
            <div class="icon folder"
                 v-if="Array.isArray(item.icon) === true">
              <template v-for="path in item.icon">
                <img v-bind:src="path"
                     draggable="false" />
              </template>
            </div>
            <div class="name" v-html="displaySearchNameMatch(item.name)"></div>
          </template>
        </div>
      </div>
      
      <div class="scroll-padding down"
          v-bind:class="{'enable': enableDragScroll}"
          v-on:mouseover="scrollPaddingDragDownEnter"
          v-on:click="scrollPage(true)">
      </div>
      
  </div>
  
  <div class="ui dimmer"
       v-bind:class="{'active': (mainItemsInited === false)}">
    <div class="ui massive text loader">Loading</div>
  </div>
  
  
  <script src="./VueController.js"></script>
  
 <!-- ------------------------------------------- --> 
 
  </body>
</html>
