<div data-component="ContentImageStatic"
     v-if="status.fileType === 'image-static'">
  <img class="resize-detector"
       v-bind:src="attrSrc"
       v-bind:style="{
          'top': config.menuBarHeight + 'px'
       }"
       ref="ResizeDetector"
       v-bind:load="resizeToFitContent" />
  
  <div class="content-image"
       v-bind:style="{
          'top': config.menuBarHeight + 'px',
          'height': 'calc(100vh - ' + config.menuBarHeight + 'px)',
          'background-image': 'url(' + attrSrc + ')'
       }">
  </div>
</div>