<div data-component="ContentImageStatic"
     v-if="status.fileType === 'image-static'">
  <img class="resize-detector"
       v-bind:src="attrSrc"
       v-bind:style="{
          'maxWidth': config.maxWidth + 'px',
          'maxHeight': config.maxHeight + 'px',
          'top': config.menuBarHeight + 'px'
       }"
       ref="ResizeDetector"
       v-bind:load="resizeToFitContent" />
  
  <img v-bind:src="attrSrc" 
       v-bind:style="{
          'top': config.menuBarHeight + 'px'
       }"
       class="content-image" />
  aaa
</div>