#SubmenuRecentModal {
  .content {
    max-height: calc(100vh - 5.5rem);
    overflow-x: hidden;
    overflow-y: auto;
    
    .header {
      max-width: 100%;
      text-overflow: ellipsis;
      overflow-x: hidden;
    }
  }
}