<fragment>
  <div class="header"
       v-if="enableFontSizeControl">
    <!--
    <i class="text height icon"></i>
    Font size
    -->
    <div class="ui grid font-size-control-panel">
      <div class="three wide column font-size-minus"
           v-on:click="fontSizeSmaller()">
        <button type="button" class="ui icon mini compact left floated button">
          <i class="minus icon"></i>
        </button>
      </div>
      <div class="ten wide column font-size-label">
        <i class="text height icon"></i>
        Font size
      </div>
      <div class="three wide column font-size-plus"
           v-on:click="fontSizeLarger()">
        <button type="button" class="ui icon mini compact right floated button">
          <i class="plus icon"></i>
        </button>
      </div>
    </div>
  </div>
  <div class="item"
       v-on:click="resizeToFitContent()">
    <i class="compress icon"></i>
    Resize to fit content
    <div class="description">alt+`</div>
  </div>
</fragment>