#SubmenuThemeModal {
  &> .content {
    max-height: calc(100vh - 5.5rem);
    overflow-x: hidden;
    overflow-y: auto;
    text-align: center;
    
    .theme-item {
      cursor: pointer;
      border: 3px solid white;
      border-radius: 2rem;
      width: 4rem;
      height: 4rem;
      display: inline-block;
      margin: 0.5rem;
      
      &.current {
        box-shadow: 0 0 1em gold;
      }
    }
    
  }
}