<div class="ui borderless menu" data-component="MenuBar">
  <a class="fitted item top-toggle"
    v-on:click="toggleAlwaysOnTop"
    v-bind:class="{active: status.isPinTop}"
    v-if="status.isMaximized === false"
    title="Toggle always top (ctrl+`)">
     <i class="map pin icon"></i>  
  </a>

  <a class="fitted item note-header disabled"
     ref="NoteHeader"
     v-on:mousedown="enableDraggable"
     v-on:mouseup="disableDraggable"
     v-on:dblclick="toggleMaximize"
     v-html="htmlHeaderWithIcon"></a>


  <div class="right menu"
       v-bind:style="{'maxHeight': 'calc(100vh - ' + config.menuBarHeight + 'px)'}">
    <!--
    <a class="fitted item"
      v-on:click="openFolder()"
      v-if="typeof(status.filePath) === 'string'">
      <i class="folder open outline icon"></i>
    </a>
    <a class="fitted item"
      v-on:click="openEditor()">
      <i class="edit icon"></i>
    </a>
    -->
    <a class="ui dropdown icon item menu-bar-submenu" ref="Submenu">
      <i class="ellipsis vertical icon"></i>
      <div class="menu">
        
        <submenu-theme v-bind:lib="lib" 
              v-bind:status="status"
              v-bind:config="config"
              ref="SubmenuTheme"></submenu-theme>
        
        <submenu-size v-bind:lib="lib" 
              v-bind:status="status"
              v-bind:config="config"
              ref="SubmenuSize"></submenu-size>
        
        <!-- ====================== -->
        <div class="divider"></div>
        
        <submenu-file v-bind:lib="lib" 
              v-bind:status="status"
              v-bind:config="config"
              ref="SubmenuFile"></submenu-file>
        
        <submenu-recent v-bind:lib="lib" 
              v-bind:status="status"
              v-bind:config="config"
              ref="SubmenuRecent"></submenu-recent>
        
      </div>
    </a>
    <a class="fitted item"
      v-on:click="minimize()">
      <i class="window minimize icon"></i>
    </a>
    <!--
    <a class="fitted item"
       v-on:click="resizeToFitContent()">
       <i class="compress icon"></i>
    </a>
    -->
    <a class="fitted item"
       v-on:click="maximize()"
       v-if="(status.isMaximized === false)">
       <i class="window maximize icon"></i>
    </a>
    <a class="fitted item"
      v-on:click="unmaximize()"
       v-if="(status.isMaximized === true)">
       <i class="window restore icon"></i>
    </a>
    <a class="fitted item"
      v-on:click="close()"> 
       <i class="window close icon"></i>
    </a>
  </div>
</div>