.top-toggle {
  i {
    opacity: 0.3 !important;
  }
  
  
  &.active {
    i {
      opacity: 0.9 !important;
    }
    background: transparent !important;
  }
}

.item.note-header {
  font-family: Noto Sans CJK TC;
  width: calc(100vw - 16rem);
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.ui.menu {
  background-color: transparent;
  box-shadow: none;
  border-width: 0;
  margin-bottom: 0;
}

.item {
  border-width: 0;
  background: none;
  
  -webkit-app-region: no-drag;
}