<div class="ui borderless menu" data-component="MenuBar">
  <a class="fitted item top-toggle"
    v-on:click="toggleAlwaysOnTop"
    v-bind:class="{active: status.isPinTop}"
    v-if="status.isMaximized === false">
     <i class="map pin icon"></i>  
  </a>

  <a class="fitted item note-header disabled"
     v-bind:class="{'has-open-folder': (typeof(status.filePath) === 'string')}">
    {{ header }}
  </a>


  <div class="right menu">
    <!--
    <a class="fitted item"
      v-on:click="openFolder()"
      v-if="typeof(status.filePath) === 'string'">
      <i class="folder open outline icon"></i>
    </a>
    <a class="fitted item"
      v-on:click="openEditor()">
      <i class="edit icon"></i>
    </a>
    -->
    <a class="fitted ui dropdown icon item" ref="Submenu">
      <i class="ellipsis vertical icon"></i>
      <div class="menu">
        <div class="header">
          <!--
          <i class="text height icon"></i>
          Font size
          -->
          <div class="ui grid font-size-controll-panel">
            <div class="three wide column font-size-minus"
                 v-on:click="fontSizeMinus()">
              <button type="button" class="ui icon mini compact left floated button">
                <i class="minus icon"></i>
              </button>
            </div>
            <div class="ten wide column font-size-label">
              <i class="text height icon"></i>
              Font size
            </div>
            <div class="three wide column font-size-plus"
                 v-on:click="fontSizePlus()">
              <button type="button" class="ui icon mini compact right floated  button">
                <i class="plus icon"></i>
              </button>
            </div>
          </div>
        </div>
        <div class="item"
             v-on:click="resizeToFitContent()">
          <i class="compress icon"></i>
          Resize to fit content
        </div>
        
        <!-- ====================== -->
        <div class="divider"></div>
        
        <div class="item"
             v-on:click="openFolder()"
             v-if="typeof(status.filePath) === 'string'">
          <i class="folder open outline icon icon"></i>
          Open folder...
        </div>
        <div class="item"
             v-on:click="openEditor()">
          <i class="edit icon"></i>
          Open in editor...
        </div>
      </div>
    </a>
    <a class="fitted item"
      v-on:click="minimize()">
      <i class="window minimize icon"></i>
    </a>
    <!--
    <a class="fitted item"
       v-on:click="resizeToFitContent()">
       <i class="compress icon"></i>
    </a>
    -->
    <a class="fitted item"
       v-on:click="maximize()"
       v-if="(status.isMaximized === false)">
       <i class="window maximize icon"></i>
    </a>
    <a class="fitted item"
      v-on:click="unmaximize()"
       v-if="(status.isMaximized === true)">
       <i class="window restore icon"></i>
    </a>
    <a class="fitted item"
      v-on:click="close()"> 
       <i class="window close icon"></i>
    </a>
  </div>
</div>